body {
  background-color: rgb(186, 242, 242);
}

#title {
  text-align: center;
  color: red;
  font-size:200%;
  background-color: orange;
  font-family: "Nico Moji";
}

#howto {
  text-align: center;
  color: black;
  /* text-decoration: underline;
  font-size:200%; */
  /* background-color: red; */
  margin-top: 5px;
}

#src {
  text-align: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

#ans {
  text-align: center;
  justify-content: center;
}

#leftpng {
  cursor: not-allowed;
}

#rightpng {
  cursor: pointer;
}

#tips {
  text-align: left;
  display: flex;
  margin-left: 250px;
}

#tipsDisplay {
  margin-left: 10px;
}
